<html lang="en">
<head>
    <title>Reset Your Password</title>
</head>
<body>
<h2>Reset Your Password</h2>

    <p>You are receiving this email because you (or someone else) has requested
    the reset of a password. Please click the link to: <a href="{{resetUrl}}"> Reset Ur Password</a>
</p>


</body>
</html>